html {
  background-color: #68d950;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.card {
  background: rgba(129, 127, 132, 0.7);
  border-radius: 5px;
  width: 400px;
}
.cardName {
  font-size: 15px;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}
.addCardMessage {
  font-size: 15px;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  font-weight: light;
  opacity: 0.7;
}

.fa-ellipsis-h {
  position: relative;
  left: 170px;
  bottom: 28px;
  color: #535253;
}
.cardObject {
  padding: 10px;
  background-color: #f6f6f6;
  width: 350px;
  position: relative;
  left: 5px;
  bottom: 20px;
  border-radius: 5px;
  margin: 10px;
  border-bottom: 1px solid black;
}
li {
  list-style-type: none;
}
