.App {
  font-family: sans-serif;
  text-align: center;
}
.card {
  background: rgba(129, 127, 132, 0.2);
  border-radius: 5px;
  width: 400px;
  position: absolute;
  left: 180px;
}
.cardName {
  font-size: 15px;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}
.addCardMessage {
  font-size: 15px;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  font-weight: light;
  opacity: 0.4;
}

.fa-ellipsis-h {
  position: relative;
  left: 170px;
  bottom: 28px;
  color: #817f84;
}
